<!-- Page Footer-->
<footer class="section footer-modern context-dark footer-modern-2">
        
    <div class="footer-modern-line-2">
      <div class="container">
        <div class="row row-30 align-items-center">
          <div class="col-sm-6 col-md-7 col-lg-4 col-xl-4">
            <div class="row row-30 align-items-center text-lg-center">
              <div class="col-md-7 col-xl-6"><a class="brand" href="index.html"><img src="images/logo-inverse-198x66.png" alt="" width="198" height="66"/></a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-12 col-lg-8 col-xl-8 oh-desktop">
            <div class="group-xmd group-sm-justify">
              <div class="footer-modern-contacts wow slideInUp">
                <div class="unit unit-spacing-sm align-items-center">
                  <div class="unit-left"><span class="icon icon-24 mdi mdi-phone"></span></div>
                  <div class="unit-body"><a class="phone" href="tel:#">1670-2920</a></div>
                </div>
              </div>
              <div class="footer-modern-contacts wow slideInDown">
                <div class="unit unit-spacing-sm align-items-center">
                  <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                  <div class="unit-body">MAIL | jhfood@naver.com</div>
                </div>
              </div>
              <div class="footer-modern-contacts wow slideInDown">
                <div class="unit unit-spacing-sm align-items-center">
                  <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                  <div class="unit-body">FAX | 032-527-1359</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-modern-line-3">
      <div class="container">
        <div class="row row-10 justify-content-between">
          <div class="col-md-6"><span>인천광역시 서구 탁옥로 30, 1층</span></div>
          <div class="col-md-auto">
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span></span><span>.&nbsp;</span><span>ParkJiHye SoondaeGook</span><span> Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com">JHFood</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<!-- coded by Himic-->
</body>
</html>